.navbar-wrapper {
  width: 100%;
  min-height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--seconday-color);
}

.brand {
  margin: 0 5rem;
  text-decoration: none;
  font-family: var(--dancing-font);
  color: var(--white);
  font-size: 1.5rem;
}
